@import 'bootstrap/bootstrap';

@font-face {
  font-family: 'bree_serifregular';
  src: url('fonts/stellasbreeserif-regular.eot');
  src: url('fonts/stellasbreeserif-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/stellasbreeserif-regular.woff') format('woff'),
       url('fonts/stellasbreeserif-regular.ttf') format('truetype'),
       url('fonts/stellasbreeserif-regular.svg#bree_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family: 'social-icons';
	src: url('fonts/Socialico.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.bree-stack{
	font-family: 'bree_serifregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.social-stack{
	font-family: 'social-icons';
}

//colors
@ketchup: #51000D;
@orange-red: #D5281D;
@stella-orange: #FF4F2C;
@text-gray: #2E2828;
@cream: #F3E6D0;
@lettuce: #c5d580;
@steel: #736d63;

@font-size: 16;

@import 'globals';
@import 'template-home';
@import 'template-menu';
@import 'template-photos';
@import 'template-contactus';
@import 'template-employment';
