section.menu{
	.nav{
		padding-bottom: 20px;
		li{
			a{
				border: 2px solid transparent;
			}
			&.active, &:hover{
				a{
					color: @ketchup;
					background: transparent;
					border: 2px solid @ketchup;
				}
			}
		}
	}
	.panel{
		.panel-footer{
			ul{
				list-style-position: inside;
				padding: 0;
				margin: 0;
			}
		}
	}
	.tab-heading{
		display: none;
		border-top: 4px solid @steel;
		border-bottom: 4px solid @steel;
		margin: 0 0 20px;
		h3{
			margin: 0;
			padding: 20px;
		}
	}
}